modules/intsvc/src/main/app/find-content-service.xml
<?xml version="1.0" encoding="utf-8"?>

<mule 
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:spring="http://www.springframework.org/schema/beans"
	xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf"
	xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
    xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.mulesoft.org/schema/mule/core    http://www.mulesoft.org/schema/mule/core/current/mule.xsd
		http://www.mulesoft.org/schema/mule/cxf     http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd
		http://www.mulesoft.org/schema/mule/jms     http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
        http://www.mulesoft.org/schema/mule/http    http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
	">

    <!-- Bean with business logic -->
    <spring:bean name="find-content-bl-bean" class="se.skltp.ei.svc.service.impl.FindContentBean">
    </spring:bean>

    <!-- Bean that expose a Web Service -->
    <spring:bean name="find-content-ws-bean" class="se.skltp.ei.intsvc.findcontent.FindContentWSBean">
        <spring:property name="blBean" ref="find-content-bl-bean" />
    </spring:bean>
    
    <message-properties-transformer name="findContentCorrelationIdTrf" scope="session">
    	<add-message-property key="soitoolkit_correlationId" value="#[message.inboundProperties[se.skltp.ei.intsvc.EiConstants.X_SKLTP_CORRELATION_ID]]"/>
    </message-properties-transformer>

	<!-- FindContent Web Service -->
    <flow name="find-content-web-service">
        <http:inbound-endpoint
            connector-ref="soitoolkit-http-connector"
            address="${FIND_CONTENT_WEB_SERVICE_URL}" 
            exchange-pattern="request-response">
        </http:inbound-endpoint>

        <transformer ref="findContentCorrelationIdTrf"/>
        <transformer ref="logReqIn"/>

        <response>
            <transformer ref="logRespOut"/>
        </response>

        <cxf:jaxws-service serviceClass="riv.itintegration.engagementindex.findcontent._1.rivtabp21.FindContentResponderInterface"/>
        
        <component>
            <spring-object bean="find-content-ws-bean"/>
        </component>
    </flow>

</mule>
