modules/intsvc/src/main/app/notification-service.xml
<?xml version="1.0" encoding="utf-8"?>
<mule xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" 
    xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" 
    xmlns:https="http://www.mulesoft.org/schema/mule/https"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:spring="http://www.springframework.org/schema/beans"
    xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf"
	xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans   http://www.springframework.org/schema/beans/spring-beans-current.xsd 
		http://www.mulesoft.org/schema/mule/cxf       http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd 
		http://www.mulesoft.org/schema/mule/jms       http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd 
		http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd 
		http://www.mulesoft.org/schema/mule/core      http://www.mulesoft.org/schema/mule/core/current/mule.xsd 
		http://www.mulesoft.org/schema/mule/https     http://www.mulesoft.org/schema/mule/https/current/mule-https.xsd 
		http://www.mulesoft.org/schema/mule/http      http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
	">

    <spring:beans>
        <!-- Bean with business validation logic -->
        <spring:bean name="notification-validation-bean" class="se.skltp.ei.svc.service.impl.ProcessBean">
        	<spring:property name="owner" value="${EI_HSA_ID}"/>
        </spring:bean>

        <!-- Bean that expose a Web Service -->
        <spring:bean name="notification-ws-bean" class="se.skltp.ei.intsvc.notification.NotificationWSBean">
            <spring:property name="blBean" ref="notification-validation-bean"/>
        </spring:bean>
        
    </spring:beans>

    <flow name="notification-service" doc:name="notification-service">

        <inbound-endpoint 
            address="${NOTIFICATION_WEB_SERVICE_URL}"  
            connector-ref="soitoolkit-http-connector"
            exchange-pattern="request-response"
            transformer-refs="logReqIn"
            responseTransformer-refs="logRespOut" doc:name="Generic"/>

        <cxf:jaxws-service
            namespace="urn:riv:itintegration:engagementindex:ProcessNotification:1:rivtabp21"
            serviceClass="se.skltp.ei.intsvc.notification.NotificationWSBean"
            wsdlLocation="classpath:/ei-schemas/interactions/ProcessNotificationInteraction/ProcessNotificationInteraction_1.0_RIVTABP21.wsdl" doc:name="SOAP"/>

        <set-variable variableName="request" value="#[payload]" doc:name="Variable"/>
 
        <component doc:name="Java">
            <spring-object bean="notification-ws-bean"/>
        </component>

        <set-variable variableName="response" value="#[payload]" doc:name="Variable"/>

        <set-payload value="#[variable:request]" doc:name="Set Payload"/>        

        <custom-transformer class="se.skltp.ei.intsvc.notification.ProcessNotificationRequestToJmsMsgTransformer" doc:name="Java"/>

        <jms:outbound-endpoint 
            connector-ref="soitoolkit-jms-connector"
            queue="${PROCESS_QUEUE}" 
            transformer-refs="logMsgOut" 
            doc:name="JMS"/>
 
        <set-payload value="#[variable:response]" doc:name="Set Payload"/>        

        <custom-exception-strategy class="org.soitoolkit.commons.mule.error.ServiceExceptionStrategy"/>
    </flow>        

</mule>
