modules/intsvc/src/main/app/update-service.xml
<?xml version="1.0" encoding="utf-8"?>
<mule xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" 
    xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" 
    xmlns:https="http://www.mulesoft.org/schema/mule/https"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:spring="http://www.springframework.org/schema/beans"
    xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf"
	xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans   http://www.springframework.org/schema/beans/spring-beans-current.xsd 
http://www.mulesoft.org/schema/mule/cxf       http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd 
http://www.mulesoft.org/schema/mule/jms       http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd 
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd 
http://www.mulesoft.org/schema/mule/core      http://www.mulesoft.org/schema/mule/core/current/mule.xsd 
http://www.mulesoft.org/schema/mule/https     http://www.mulesoft.org/schema/mule/https/current/mule-https.xsd 
http://www.mulesoft.org/schema/mule/http      http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">

    <spring:beans>
        <!-- Bean that expose a Web Service -->
        <spring:bean name="update-ws-bean" class="se.skltp.ei.intsvc.update.UpdateWSBean"/>

        <!-- Bean with business logic -->
        <spring:bean name="update-bl-bean" class="se.skltp.ei.svc.service.impl.UpdateBean"/>

        <!-- Bean that process the update -->
        <spring:bean name="update-process-bean" class="se.skltp.ei.intsvc.update.UpdateDbBean">
            <spring:property name="blBean" ref="update-bl-bean"/>
        </spring:bean>
    </spring:beans>

    <flow name="update-web-service" doc:name="update-web-service">

        <inbound-endpoint 
            address="${UPDATE_WEB_SERVICE_URL}"  
            connector-ref="soitoolkit-http-connector"
            exchange-pattern="request-response"
            transformer-refs="logReqIn"
            responseTransformer-refs="logRespOut" doc:name="Generic"/>

        <cxf:jaxws-service
            namespace="urn:riv:itintegration:engagementindex:Update:1:rivtabp21"
            serviceClass="se.skltp.ei.intsvc.update.UpdateWSBean"
            wsdlLocation="classpath:/ei-schemas/interactions/UpdateInteraction/UpdateInteraction_1.0_RIVTABP21.wsdl" doc:name="SOAP"/>

        <set-variable variableName="request" value="#[payload]" doc:name="Variable"/>
 
        <component doc:name="Java">
            <spring-object bean="update-ws-bean"/>
        </component>

        <set-variable variableName="response" value="#[payload]" doc:name="Variable"/>

        <set-payload value="#[variable:request]" doc:name="Set Payload"/>        

        <custom-transformer class="se.skltp.ei.intsvc.update.UpdateRequestToJmsMsgTransformer" doc:name="Java"/>

        <jms:outbound-endpoint 
            connector-ref="soitoolkit-jms-connector"
            queue="${UPDATE_QUEUE}" 
            transformer-refs="logMsgOut" 
            doc:name="JMS"/>
 
        <set-payload value="#[variable:response]" doc:name="Set Payload"/>        

        <custom-exception-strategy class="org.soitoolkit.commons.mule.error.ServiceExceptionStrategy"/>
    </flow>        


    <flow name="update-process-service" doc:name="update-process-service">
        <jms:inbound-endpoint 
            connector-ref="soitoolkit-jms-connector"
            queue="${UPDATE_QUEUE}" 
            transformer-refs="logMsgIn" 
            doc:name="JMS">
            <jms:transaction action="ALWAYS_BEGIN"/>
        </jms:inbound-endpoint>

        <component doc:name="Java">
            <spring-object bean="update-process-bean"/>
        </component>

        <jms:outbound-endpoint 
            connector-ref="soitoolkit-jms-connector"
            topic="${NOTIFICATION_TOPIC}" 
            transformer-refs="logMsgOut" 
            doc:name="JMS Topic">
            <jms:transaction action="ALWAYS_JOIN"/>
        </jms:outbound-endpoint>
        
        <custom-exception-strategy class="org.soitoolkit.commons.mule.error.ServiceExceptionStrategy"/>
    </flow>

</mule>
